version: "3.8"

# healthcheck from Vinicius Chan's answer to https://stackoverflow.com/questions/35069027/

services:
  flexo:
    build: .
    ports:
      - "127.0.0.1:8080:8080" # Change port?
    environment:
      DBADDR: "db:5432"
      DBUSER: ${DB_USER:-flexo}
      DBPASS: ${DB_PASS}
      DBNAME: ${DB_NAME:-flexo}

      GIN_MODE: release
    depends_on:
      db:
        condition: service_healthy
    links:
      - db

  db:
    image: postgres:13.2
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME:-flexo}
      POSTGRES_USER: ${DB_USER:-flexo}
      POSTGRES_PASSWORD: ${DB_PASS}
      PGDATA: /var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db-data:
